@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(249, 253, 255);
}

.main {
  height: 100%;
  width: 100%;
}

/* navigation style */

#nav {
  background-color: white;
  width: 100%;
  height: 60px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgb(177, 177, 177);
  margin-bottom: 25px;
  position: fixed;
  top: 0;
}

.sec1 {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 200px;
}

.logo {
  min-height: 45px;
  min-width: 45px;
  cursor: pointer;
}

.logo img {
  background-size: cover;
}

.sec1 .input {
  height: 40px;
  width: 250px;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.sec2 ul {
  height: 100%;
  width: auto;
}

#ul1 li {
  height: 50px;
  width: 110px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
}

#ul1 li:hover {
  background-color: rgb(199, 199, 199);
}

.sec3 ul {
  height: 100%;
  min-width: 250px;
}

#ul2 li {
  background-color: rgb(212, 212, 212);
  height: 40px;
  width: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#ul2 li:hover {
  background-color: rgb(182, 182, 182);
}

/* body style */

/* left navigation */

.box {
  height: 100%;
  width: 100%;
  display: flex;
}

.box #left {
  height: 100%;
  min-width: 320px;
}

#left ul{
    position: fixed;
}

#left ul li {
  height: 50px;
  width: 280px;
  border-radius: 10px;
  padding: 5px 10px;
}

#left li:hover {
  background-color: rgb(199, 199, 199);
}

/* center content */

.box .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}

.content .new-post {
  background-color: white;
  height: 120px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(156, 156, 156);
}

.box #right {
  height: 100%;
  min-width: 320px;
}

.new-post .np-content {
  padding: 8px;
}

.np-content .box1 {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.img {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.np-content .input {
  height: 40px;
  width: 90%;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.np-content .input input {
  font-size: 15px;
  font-weight: 500;
}

.np-content .box2 {
  padding: 8px;
  height: 100%;
  width: 100%;
}

.np-content .box2 #ul1 {
  height: 100%;
  display: flex;
}

.box2 #ul1 li {
  height: 40px;
  width: 200px;
}

/* right navigation */

.box #right {
    height: 100%;
    min-width: 320px;
  }
  
  #right ul{
      position: fixed;
  }
  
  #right ul li {
    height: 50px;
    width: 280px;
    border-radius: 10px;
    padding: 5px 10px;
  }
  
  #right li:hover {
    background-color: rgb(199, 199, 199);
  }