svg{
    height: 25px;
}

#nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li{
    list-style: none;
}

.menu-item{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 15px;
}

.menu-item svg{
    height: 30px;
}

h3{
    margin: 0 15px;
}