svg{
    height: 25px;
}

#nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li{
    list-style: none;
}

.menu-item{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 0 10px 0;
}

.menu-item svg{
    height: 30px;
}

h3{
    margin: 0 15px;
}

.input input {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
}

#pfp {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}